extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let Deviceid = toShow._id
        - let name = toShow.name
        - let ram = toShow.ram
        - let color = toShow.color
        div.row(class='mb-2')
            div.mr-1 ID is
            div #{Deviceid}
        - let actionid = "/resource/Devices/" + Deviceid
        form(id='DeviceForm', action= actionid, method="PUT")
            div.form-group
                label.instrumentAttr(for='name') name
                input#name(type='text', name='name', value= name )
            div.form-group
                label.instrumentAttr(for='ram') ram
                input#ram(type='text', name='ram', value= ram )
            div.form-group
                label.instrumentAttr(for='color') color
                input#color(type='text', name='color', value= color)
            input(type="submit")
        script.
            document.forms['DeviceForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                alert("Update succeded")
                // TODO handle body
                }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
                });
            });